<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link data-trunk rel="copy-file" href="/static/manifest.json">
  <link data-trunk rel="copy-file" href="/static/icon-256.png">
  <link data-trunk rel="copy-file" href="/js/service_worker.js">
  <link rel="manifest" href="/static/manifest.json">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <script>
    // register ServiceWorker
    window.onload = () => {
      'use strict';

      if ('serviceWorker' in navigator) {
        navigator.serviceWorker
          .register('/static/service_worker.js');
      }
    }
  </script>
  <title>Splittinger</title>
</head>

<body>
  <h1>{{ group.name` }}</h1>
  <div class="columns">
    <div class="column">
      First column
    </div>
    <div class="column">
      Second column
    </div>
    <div class="column">
      Third column
    </div>
    <div class="column">
      Fourth column
    </div>
  </div>
</body>

</html>